@import "tailwindcss";

/* Custom Scrollbar Dark */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #13182b;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}

/* Background principal */
body {
  @apply bg-gray-900 text-gray-100 antialiased;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


/* Glassmorphism utility class */
.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

/* Gradient text */
.gradient-text {
  @apply bg-linear-to-r from-blue-500 to-gray-500 bg-clip-text text-transparent;
}

/* Smooth transitions globales */
* {
  @apply transition-colors duration-200;
}


